body {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
	text-align: center;
	color: #55b3d5;
}

article {
	width: 90%;
	margin: auto;
}

h1 {
	color: #55b3d5;
}

h2 {
	font-size: 18px;
	margin-top: 20px;
}

p {
	color: #21434f;
}

.parag {
	font-size: 12px;
	text-align: center;
	font-style: italic;
}

.text {
	font-size: 16px;
	text-align: justify;
	text-indent: 20px;
	line-height: 16px;
}