body {
	background-color: #f5f5f5;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	color: #493c8a;
	text-align: center;
}
 /* #75909f */

 h2, h3 {
	color: #75909f;
 }

 p {
	font-size: 20px;
 }

 .text {
	font-style: italic;
	font-size: 16px;
 }