body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	text-align: justify;
	margin: 5px 10px 0 30px;
}

h2 {
	clear: both;
	color: #2496ba;
}

img {
	float: right;
	margin-left: 5px;
	border: solid 2px #000;
}

span {
	color: #2496ba;
}