h1 {
	font-family: 'Courier New', Courier, monospace;
	color: #ff00ff;
	text-align: center;
	font-size: 22px;
	margin-top: 40px;
}

ol {
	margin-left: 30px;
	font-size: 14px;
}

ol>li {
	font-weight: bold;
}

ul li {
	list-style-image: url(../image/Twemoji_1f600.svg.png);
	font-style: italic;
	padding-left: 10px;
}

.red {
	color: red;
	font-weight: 500;
}
.blue {
	color: blue;
	font-weight: bold;
}
.green {
	color: green;
	font-weight: bold;
}

.one {
	font-style: italic;
}

.two {
	color: red;
	font-style: italic;
	text-decoration: underline 2px;
}
.three {
	color: red;
	font-size: 20px;
}
.four {
	font-size: 20px;
	color: blue;
}

dl {
	background-color: #f1f4fa;
	width: 300px;
	padding: 5px;
	margin: 40px 0 0 50px;
} 

dl dd {
	text-align: justify;
}

h2 {
	margin: 5px 0 15px 0;
	font-size: 30px;
}